-//doctype html

head
  meta(charset='utf-8')
  meta(base href="/")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
  link(rel='icon' type='image/png' href='/images/favicon.ico')
  title Taek IT Envanter Sistemi

  include ../public/javascripts/scripts.pug
  include ../public/javascripts/down.html

  script.
    window.onload = function() {
      var table = document.getElementById("liste");
      var rows = table.rows;
      for(var q = 21; q < rows.length ; q++)
      {
        table.rows[q].style.display='none';
      }

      var rem = (rows.length-1)%20

      if(rem) {max = Math.floor(((rows.length-1)/20)+1);}
      else {max = Math.floor(((rows.length-1)/20));}

      //alert("min " +min+", max "+max);

      var select = document.getElementById('page');

      for (var pg = min; pg<=max; pg++)
      {
        var opt = document.createElement('option');
        opt.value = pg;
        opt.innerHTML = pg;
        select.appendChild(opt);
      }
    }

//------------------------------------------------------------------------------------------------------------------------
body
  include navbar.pug

  h1(id="mainhead2") Depo

  div(class='parent')
    div(class='row0')
    div(class='row1')
      input(type='button' onclick="tableToExcel('liste', 'Depo')" value="Excel'e Aktar" style="margin:2px;padding:2px;margin-bottom:5px;")
    div(class='row2')
    div(class='row3')
      select( id='arama1' onchange="getType(this.value)" )
        option(value='0') ID
        option(value='1') Türü
        option(value='2') Model
        option(value='3') Marka
        option(value='4') Stok
        option(value='6') Detay
        option(value='9') Yer
        option(value='10') Aktif
    div(class='row4')
      input(type='text', id='myInput1', onkeyup='filter()', placeholder='Arama...', title='Aranacak kelime...')
    div(class='row5')


  table(id="liste")
    tr
      th(onclick='getsort("ID")') ID
      th(onclick='getsort("pType")') Türü
      th(onclick='getsort("pName")') Model
      th(onclick='getsort("pBrand")') Marka
      th(onclick='getsort("pCount")') Stok
      th(onclick='getsort("Date")') Tarih
      th(onclick='getsort("Detail")') Detay
      th(onclick='getsort("garanti_start")') Garanti Başlama
      th(onclick='getsort("garanti_end")') Garanti Bitiş
      th(onclick='getsort("Dest")') Yer
      th(onclick='getsort("active")') Aktif
      th(class="chng") Düzenle
      th(class="give") Kişiye Ver
    tbody
      - var i=0;
      each entity in entityList
        tr
          td #{entity.ID}
          td #{entity.pType}
          td #{entity.pName}
          td #{entity.pBrand}
          td #{entity.pCount}
          td #{entity.Date}
          td #{entity.Detail}
          td #{entity.garanti_start}
          td #{entity.garanti_end}
          td #{entity.Dest}
          td #{entity.active}
          td(style="width: 32px")
            button(type="button" class="mnewbutton" id=("myBtn"+ i++) onclick="reply_click(this)")
              img(src="/images/edit.png", style='width:32px;height:32px;')
          td(style="width: 32px")
            button(type="button" class="mnewbutton" id=("myBtn"+ i++) onclick="reply_click2(this)")
              img(src="/images/pagenext.png", style='width:32px;height:32px;')

  div(class='pageall')
    div(class='pages0')
        button(type="button" id="pageprev" onclick="ppre()")
          img(src="/images/pageprevious.png", style='width:48px;height:32px;')
    div(class='pages1')
      select( id='page' onchange="paging(this.value)" )
    div(class='pages2')
        button(type="button" id="pagenext" onclick="pnxt()")
          img(src="/images/pagenext.png", style='width:48px;height:32px;')

  include ../public/javascripts/forms.pug
  div(id="foot")
    p Türkiye Atom Enerjisi Kurumu 2020 ©

  form(id="hiddenForm" method="post" action="/depotupdate")
    input(type='hidden' id= 'hiddenField' name='identify' value='')

  form(id="hiddenFormGive" method="post" action="/depotgive")
    input(type='hidden' id= 'hiddenFieldGive' name='givenitem' value='')

  form(id="orderForm" method="post" action="/depotorder")
    input(type='hidden' id= 'orderField' name='orderinfo' value='')